<div class="well nested-fields">
  <%= f.input :employee_id, label: false, placeholder:'員工' %>
  <%= f.input :amt, label: false, placeholder:'金額' %>
  <%= link_to_remove_association "刪除此筆", f, class:'btn btn-xs btn-danger' %>
</div>