  <table width="50%">
    <tr>
      <td width="30%" class="td1">
        <%= f.input :employee_uid, label: false, placeholder:'員工代號', :input_html => {:name => 'employee_uid',:onChange => 'emp_get_name_multi(this)'} %></td>
      <td width="40" class="td2"><label></label><%= f.input :employee_id, as: :hidden, :input_html => {:name => 'employee_id'} %></td>
      <td width="30%" class="td3"><%= f.input :amt, label: false, placeholder:'金額', :input_html => {:name => 'amt', :onfocus => 'get_next_line(this)'} %></td>
    </tr>
  </table>