/*
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px; 
}

.td_text {
    padding-left: 20px;
    font-size: 18px;
}